* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #010834;
    background-image: url(pngwing.com\ \(1\).png);
    background-position: center center;
    background-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin {
    background-color: #b4b1b1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signin header {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

.signup {
    margin-top: 15px;
    font-size: 14px;
}

.signup label {
    color: #007bff;
    cursor: pointer;
}
@media screen and (max width:768px,max height:1000px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .signin {
        margin-top: 20px;
    }  
    .body{
      height:auto;
    }
}